<!DOCTYPE html>
<html>
    <head>
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
         <link rel="stylesheet" href="/stylesheets/main.css">
        <title>Best Restaurants</title>
    </head>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    Best Restaurants
                </a>
            </div>
        <div class="collapse navbar-collapse">
            <ul>
                <div class="nav navbar-nav navbar-right">
                    <% if(!currentUser) { %>
                      <li><a href="/login">Login</a></li>
                      <li><a href="/register">SignUp</a></li>
                   <% } else{ %>
                   <li><a href="#">SignedIn As <strong> <%= currentUser.username %> </strong></a></li>
                   <li><a href="/logout">Logout</a></li>
                <% } %>
                </div>
            </ul>
        </div>
        </div>
    </nav>
    
        <div class="container">
              <% if(error && error.length > 0){ %>
        <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
      <% } %>
       
         <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
      <% } %>
    </div>
  
  