<!DOCTYPE html>
<html>
    <head>
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
         <link rel="stylesheet" href="/stylesheets/main.css">
        <title>Best Bars</title>
    </head>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    Best Bars
                </a>
            </div>
        <div class="collapse navbar-collapse">
            <ul>
                <div class="nav navbar-nav navbar-right">
                    <% if(!currentUser) %> {
                      <li><a href="/login">Login</a></li>
                      <li><a href="/register">SignUp</a></li>
                    }
                  else{
                   <li><a href="/logout">Logout</a></li>
                  }
                </div>
            </ul>
        </div>
        </div>
    </nav>
</html>
