<% include ../partials/header %>
<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Best Restaurants</h1>
             <p>Check out the famous restaurant or bar in your locale!</p>
             <p>
                <a class="btn btn-primary btn-large" href="/bestbars/new">Add New Restaurant in your Local!</a> 
            </p>
        </div>
    </header>
   
    <div class="row text-center" style="display:flex; flex-wrap:wrap">
        <% barslist.forEach(function(barslist){ %>
        <div class="col-md-4" "col-sm-6">
                <div class="thumbnail">
                    <img src="<%= barslist.image %>">
                    <div class="caption"><strong><%= barslist.name %></strong></div>
                    <a class="btn btn-primary" href=" /bestbars/<%= barslist.id %>">More Info</a>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<p>
<% include ../partials/footer %>
</p>